[Desktop Entry]
Name=sixcoin Core
Comment=Connect to the sixcoin P2P Network
Comment[de]=Verbinde mit dem sixcoin peer-to-peer Netzwerk
Comment[fr]=sixcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=sixcoin, eşten eşe kriptografik sanal para birimi
Exec=sixcoin-qt %u
Terminal=false
Type=Application
Icon=sixcoin128
MimeType=x-scheme-handler/sixcoin;
Categories=Office;Finance;
